@import url('https://fonts.cdnfonts.com/css/elegant-typewriter');

@media (prefers-color-scheme: light) {
  :root {
    --text: #0d0d0d;
    --text-secondary: #4a4a4a;
    --background: #f7f8f8;
    --primary: #78a19d;
    --secondary: #a6c9c6;
    --accent: #86c1bc;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f2f2f2;
    --text-secondary: #b3b3b3;
    --background: #070808;
    --primary: #5e8783;
    --secondary: #365956;
    --accent: #3e7974;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Elegant Typewriter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
