@import './base.css';

#app {
  width: 65%;
  height: 100vh;
  margin: 0 auto;
  /* padding: 1rem; */
  font-weight: normal;
}

/* if small width like phone or vertical tablet width is 100% */
@media (max-width: 768px) {
  #app {
    width: 100%;
  }
}
