@import '../base.css';

.home {
  height: 100%;
  width: 100%;
}

.home-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-image__svg {
  max-height: 100%;
  width: auto;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .home-image {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
}
