.work {
  height: 100%;
}

.cards-container {
  /* grid, 2 columns */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap between elements of the grid */
  gap: 1.5rem;

  height: auto;

  align-items: start;
}

.cards-container > * {
  /* border: 1px solid red; */

  /* fix height */
  height: 100%;
}
